/* modals */

.modal-wrapper {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);

    opacity: 0;
    pointer-events: none;

    transition: all ease .2s;
}
.modal-wrapper.show-modal {
    opacity: 1;
    pointer-events: initial;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 640px;
    height: 360px;
    padding: 20px;

    background-color: #fff;

    overflow: auto;
}

/* container for all current properties */
.mortgage-modal__property_list {
    margin: 15px 0;
}

/* individual property */
.mortgage-modal__property {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid gray;

    cursor: pointer;
}
.mortgage-modal__property.property-mortgaged {
    color: #555;
    font-style: italic;
    background-color: #ccc;
}

.modal-button {
    padding: 10px;

    color: #fff;
    background-color: #ddd;

    cursor: pointer;
}
.modal-button.modal-save {
    background-color: #090;
}
.modal-button.modal-cancel {
    background-color: #900;
}
